* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #7177e4, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container h1 {
    font-size: 40px;
    font-weight: 500;
    color: antiquewhite;
    margin-top: -50px;
    margin-bottom: 50px;

}

.container h1 span {
    color: rgb(255, 0, 0);
}

textarea {
    width: 600px;
    height: 250px;
    background: #7177e4;
    color: rgb(255, 255, 255);
    font-size: large;
    border-radius: 12px;
    outline: 0;
    border: 0;
    padding: 20px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder {
    color: rgb(255, 255, 255);
}

.row {
    width: 600px;
    align-items: center;
    gap: 20px;
    display: flex;

}
button{
    cursor:url("image/play-button.png")   16 16 ,pointer;
}
button {
    background: #da1f1f97;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    box-shadow:
        0 6px 0 #a31616,           
        0 10px 18px rgba(0,0,0,.3);

    transition: 
        transform .2s ease,
        box-shadow .2s ease;
}

/* hover = thoda aur bahar */
button:hover {
    transform: translateY(-2px);
    box-shadow:
        0 8px 0 #a31616,
        0 14px 24px rgba(0,0,0,.35);
}

/* click = press inside */
button:active {
    transform: translateY(4px);
    box-shadow:
        0 2px 0 #a31616,
        0 6px 10px rgba(0,0,0,.25);
}

button img{
width: 16px;
}
