* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #000000, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputbox {
    width: 400px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inputbox input {
    padding: 0px 20px;
    width: 85%;
    height: 40px;
    border-radius: 9px;
    border: 1px solid #ccc;
    outline: none;
    color: #151010;
    background: linear-gradient(50deg, #fa8585, #fff);
}

i {
    font-size: 20px;
    color: black;
    margin: 8px;
}

.btn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 0;
    outline: 0;
    background: white;
}

.btn {
    transition: 0.3s ease;
}

.strength-box {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 10px;
    margin-top: 8px;
    overflow: hidden;
}

#strength-bar {
    height: 100%;
    width: 0%;
    background: red;
    border-radius: 10px;
    transition: width 0.3s ease, background 0.3s ease;
}