* {
    margin: 0;
    padding: 0%;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;

}

body {
    background-color: #414448;
    color: rgb(7, 8, 18);
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
    margin: 3px auto 20px;
    font-weight: 600;
}

form {
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
    height: 80px;
    background: #434989;
    display: flex;
    align-items: center;
    border-radius: 8px;
}



form button {
    padding: 0 40px;
    height: 100%;
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px 0 45px;
    /* icon ke liye space */
}

.input-box:focus-within .search-icon {
    opacity: 1;
}

::placeholder {
    color: #fff;
    font-size: 18px;
}

#show-more-btn {
    background: rgb(27, 147, 77);
    color: #000000;
    width: 100px;
    border-radius: 5px;
    padding: 9px;
    cursor: pointer;
    margin: 10px 20px auto auto;
    display: none;

}

#search-result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: fit-content;
    margin-bottom: 50px;
}

.hover-image:hover {
    transform: scale(1.01);
    box-shadow: 5px 9px 20px #000;
}

.input-box {
    position: relative;
    flex: 1;
    height: 100%;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

#loading {
    display: none;
}

.jap1 {
    animation-name: move;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.jap2 {
    animation-name: move;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
}

.jap3 {
    animation-name: move;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-delay: 0.2;
}

@keyframes move {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;

    }

    100% {
        opacity: 1;

    }
}